.block-container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media(min-width:600px){
.block-container{
 max-width:600px;
}}
@media(min-width:768px){
.block-container{
 max-width:768px;
}}
@media(min-width:992px){
.block-container{
 max-width:992px;
}}
@media(min-width:1200px){
.block-container{
 max-width:1200px;
}}
.block-row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.block-col-2, .block-col-3, .block-col-4, .block-col-5, .block-col-6, .block-col-7, .block-col-8, .block-col-9{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 768px){
.block-col-1{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}
.block-col-2{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;}
    
.block-col-3{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;}
.block-col-4{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;}
.block-col-5{
  -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.block-col-6{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
 }
 .block-col-7{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
 }
 .block-col-8{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;}
 .block-col-9{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;}
}
@media (min-width: 576px){
.block-col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
 }
}
@media (min-width:1281px){
    body .hide-desktop, body div>.spice-block-container-fluid.hide-desktop{
        display: none;
    }
}
@media (min-width:692px) and (max-width:1100px){
    body .hide-tablet, body div>.spice-block-container-fluid.hide-tablet {
        display: none;
    }
}
@media (max-width:691px){
    body .hide-mobile, body div>.spice-block-container-fluid.hide-mobile {
        display: none;
    }
}
.animated.slow{animation-duration:2s}
.animated.fast{animation-duration:.7s}
.spice-blocks-divider-line{
    border: 2px solid;
    display: inline-block;
}
.wp-block-spice-blocks-spice-button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /*margin: 4px 2px;*/
  cursor: pointer;
}

.text-editor-inner p.spice-blocks-text-editor.has-dropcap:first-child:first-letter{
    margin: 10px 10px 10px 10px;
    padding: 18px 12px 18px 12px;
}
.spice-blocks-icon i{
    font-size: 4em;
}


/*Rajkamal css*/

div>.spice-block-container-fluid{
    width: 100%;
    display: flex;
    gap: 2em;
    flex-wrap: nowrap;
    max-width: initial;
}
.wp-block-spice-blocks-spice-section .spice-block-container {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    gap: 2em;
    flex-wrap: nowrap; 
}
.editor-styles-wrapper .wp-block-spice-blocks-spice-section .spice-block-container {margin: 0 auto;}
.wp-block-spice-blocks-spice-column {
    flex-basis: 0;
    flex-grow: 1;
}

@media (min-width: 782px)
{
    .wp-block-spice-blocks-spice-section .wp-block-spice-blocks-spice-column[style*=flex-basis]{
        flex-grow: 0;
     }
}

/* CTA Section css starts */

.spice-blocks-cta{
    background-position: center center;
    background-size: cover;
    text-align: center;
    padding: 10.75rem 0.625rem 12.875rem;
}
.spice-blocks-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: inherit;
}
.spice-blocks-cta .spice-blocks-overlay .block-container{
    position: relative;
}

.cta-block .top-heading{
    font-size: 1rem;
    line-height: 1.625rem;
    font-family: Montserrat, sans-serif ;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 1.25rem;
    margin-top: 0;
}

.cta-block .main-heading{
    font-size: 3.75rem;
    line-height: 4.375rem;
    font-family: Montserrat, sans-serif ;
    font-weight: 800;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 3.125rem;
    margin-top: 0;
}
.spice-blocks-cta{
    position: relative;
}
.cta-block .btn .cta-btn{
    display: block;
    background-color: #2c7bfe;
    color: #ffffff;
    font-size: 1.125rem;
    line-height: 1.625rem;
    font-family: Montserrat, sans-serif ;
    font-weight: 600;
    text-transform: capitalize;
    padding: 16px 39px;
    border-radius: 30px;
    margin: unset; 
    transition: all 0.3s ease-in-out;  
}

.cta-block .btn .cta-btn:hover{
    background-color: #ffffff;
    color: #2c7bfe;
}

@media(max-width:992px){
    .spice-blocks-cta .spice-blocks-overlay{
        padding: 7.5rem 0.625rem 10rem;
        background-color: unset;
    }

}
.spice-blocks-overlay{
   padding: 5rem 2rem 5rem;
}

.spice-blocks-cta .block-container {
    position: relative;
}
.spice-blocks-cta .spice-blocks-overlay{
    padding: 0;
}
button.spice-blocks-button {
    border: none;
    padding: 0;
    background: transparent;
}
button.spice-blocks-button span.wp-block-spice-blocks-spice-button{
    width: 100%;
}
.spice-blocks-button-wrapper button.spice-blocks-button:hover, 
.spice-blocks-button-wrapper button.spice-blocks-button:focus{
    background-color:transparent;
}

/*blockquote CSS*/
figure.spice-blocks-blockquote{max-width:100%;}
blockquote:before, blockquote:after{display: none;}
blockquote.blockquote-field{
    max-width:100%;
    margin: auto;
    text-align: center;
    padding-top: 223px;
    padding-bottom: 223px;
}

.blockquote-field .quote-icon{
    display: block;
    margin-bottom: 20px;
}

.blockquote-field .quote-icon i{
    font-size: 80px;
    color: rgba(254, 254, 254, 0.10);
}

.blockquote-field .blockquote-text{
    font-size: 30px;
    font-weight: 600;
    line-height: 50px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    max-width: 90%;
    margin: 0 auto 20px auto;
    position: relative;
    
}

.blockquote-field .name-field .name{
    font-size: 24px;
    font-weight: 400;
    line-height: 50px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

.blockquote-field .name-field{
    position: relative;
    display: inline-block;
}

.blockquote-field .name-field .name::before{
    content: "";
    width: 25px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 25px;
    left: -34px;
}

@media (max-width:1024px){

    .blockquote-field{
        padding-top: 160px;
        padding-bottom: 160px;
    }
}

@media (max-width:551px){

    .blockquote-field .blockquote-text {
        font-size: 27px;
        font-weight: 600;
        line-height: 42px;
        font-family: 'Open Sans', sans-serif;
        max-width: 95%;
        
    }
}
.spice-blocks-blockquote .spice-blocks-overlay{
    padding: 0;
}
.spice-blocks-blockquote{
    position: relative;
}
.spice-blocks-blockquote blockquote{
  border: none;  
} 

/* ----------------------My CSS------------------------- */

.blogrow.blogrow {
    margin-top: 49px;
}

.blogrow.block-row .post-content {
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    margin-bottom: 30px;
}

.blogrow.block-row .post-content .post-image {
    transition: all 0.3s ease;
    position: relative;
    display: inline-flex;
}

.blogrow.block-row .post-image::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    transition: .3s;
    background-color: #082471cc;
}

.blogrow.block-row .post-content:hover {
    box-shadow: 0 7px 20px 0 #e7e7e7;
}

.blogrow.block-row .post-content:hover .post-image::before {
    height: 100%;
}

.blogrow.block-row .post-content .post-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.3s ease;
}

.blogrow.block-row .post-content:hover .post-link {
    opacity: 1;
}

.blogrow.block-row .post-content .post-link a {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #fff;
}

.blogrow.block-row .post-content .post-title .post-info {
    position: absolute;
    top: -16px;
    left: 0;
    right: 0;
}

.block-row.blogrow .post-content .post-title .post-info span {
    background-color: #082471;
    color: #fff;
    font-family: 'Muli', sans-serif;
    font-size: 12px;
    line-height: 26px;
    font-weight: 600;
    padding: 10.5px 22px;
    border-radius: 18px;
    letter-spacing: 1px;
}

.blogrow.block-row .post-content:hover .post-title .post-info span {
    background-color: #f96156;
}

.blogrow.block-row .post-content .post-title {
    background-color: #fff;
    position: relative;
    padding: 37px 20px 5px 20px;
}

.blogrow.block-row .post-content .post-title a {
    color: #000;
    font-family: 'Muli', sans-serif;
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
}

.blogrow.block-row .post-content .post-title .icon-list {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.blogrow.block-row .post-content .post-title .icon-list span {
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #777777;
}

.blogrow.block-row .post-content .post-title .icon-list span i {
    color: #000;
}

.blogrow.block-row .post-content.remove-img .post-title .post-info {
    position: relative;
}
.blogrow.block-row {
    text-align: center;
}

/* ----------------Media Queries---------------- */
@media (max-width: 1199px) {
    .blog .blogpost .post-content {
        display: grid;
        grid-template-columns: 100%;
    }
    .blogrow.block-row .post-content .post-title .post-info {
        position: absolute;
        top: -16px;
        left: 0;
        right: 0;
        padding: unset;
        transform-origin: unset;
        transform: rotate(0deg);
    }
}
img{
    display: block;
}
.spice-img{
    display: inline-block;
}
@media(max-width:767px){
.wp-block-spice-blocks-spice-section .spice-block-container,
.wp-block-spice-blocks-spice-section .spice-block-container-fluid {
    display: block;
}
}
.wp-block-spice-blocks-spice-column.is-vertically-aligned-top{align-self:flex-start}
.wp-block-spice-blocks-spice-column.is-vertically-aligned-center{align-self:center}
.wp-block-spice-blocks-spice-column.is-vertically-aligned-bottom{align-self:flex-end;}
.wp-block-spice-blocks-spice-column.is-vertically-aligned-bottom,
.wp-block-spice-blocks-spice-column.is-vertically-aligned-center,
.wp-block-spice-blocks-spice-column.is-vertically-aligned-top{width:100%;}
.spice-img img, img{
    max-width: 100%;
    height: auto;
}